a(href="").logo
	img(src="http://placehold.it/400x100")
.header
	.menu
		nav.img-holder-top#toggle
			img(src="img/menu.png")
		.img-holder-top-bg
			img(src='img/menu-top.png')
		nav.top#projects
			nav.rows.row0
				a.project(href="#pr1") Project-0
				a.project(href="") Project-1
				//- a.project(href="") Project-2
				a.project(href="") Project-3
				a.project(href="") Project-4
				a.project(href="") Project-5
			nav.rows.row1
				a.project(href="") Project-6
				a.project(href="") Project-7
				a.project(href="") Project-8
				//- a.project(href="") Project-9
				a.project(href="") Project-10
				a.project(href="") Project-11
			nav.rows.row2
				a.project(href="") Project-12
				a.project(href="") Project-13
				a.project(href="") Project-14
				a.project(href="") Project-15
				a.project(href="") Project-16
				a.project(href="") Project-17
			nav.rows.row3
				a.project(href="") Project-18
				a.project(href="") Project-19
				a.project(href="") Project-20
				a.project(href="") Project-21
				a.project(href="") Project-22
				//- a.project(href="") Project-23
		nav.top#categories
			nav.rows.row0
				a.category(href="#pr1") category-0
				a.category(href="") category-1
				a.category(href="") category-2
			nav.rows.row1
				a.category(href="") category-3
				a.category(href="") category-4
				a.category(href="") category-5
		nav.left
			ul
				li#project Projects
				li#category Categories
				a(href="")
					li About
				a(href="")
					li Contacts