.preview
	.img-holder
		img(src='img/thumbs/project-0/0001.jpg')
		//- img(src='img/thumbs/project-0/0002.jpg')
		//- img(src='img/thumbs/project-0/0003.jpg')
		//- img(src='img/thumbs/project-0/0004.jpg')
		//- img(src='img/thumbs/project-0/0005.jpg')
		//- img(src='img/thumbs/project-0/0006.jpg')
	.img-holder
		img(src='img/thumbs/0002.jpg')
	.img-holder
		img(src='img/thumbs/0003.jpg')
	.img-holder
		img(src='img/thumbs/0004.jpg')
	.img-holder
		img(src='img/thumbs/0005.jpg')
	.img-holder
		img(src='img/thumbs/0006.jpg')
	.img-holder
		img(src='img/thumbs/0007.jpg')
	.img-holder
		img(src='img/thumbs/0008.jpg')
	.img-holder
		img(src='img/thumbs/0009.jpg')
	.img-holder
		img(src='img/thumbs/0010.jpg')
	.img-holder
		img(src='img/thumbs/0001.jpg')
	.img-holder
		img(src='img/thumbs/0002.jpg')
	.img-holder
		img(src='img/thumbs/0003.jpg')
	.img-holder
		img(src='img/thumbs/0004.jpg')
	.img-holder
		img(src='img/thumbs/0005.jpg')
	.img-holder
		img(src='img/thumbs/0006.jpg')
	.img-holder
		img(src='img/thumbs/0007.jpg')
	.img-holder
		img(src='img/thumbs/0008.jpg')
	.img-holder
		img(src='img/thumbs/0009.jpg')
	.img-holder
		img(src='img/thumbs/0010.jpg')
	.img-holder
		img(src='img/thumbs/0001.jpg')